.content {
  min-height: 100%;
}

.content-inside {
  padding: 0;
  padding-bottom: 50px;
}

/**
 * Administration : tableau
 */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

.p_envoi_password_ok{
	color: green;
}

.p_envoi_password_ko{
	color: red;
}


/**
 * class qui permet de cacher le boutn 'Annuler ajout'
 */
.cacher{
	display: none;
}

.form_button_annuler{
	display: none;
}

.form_button_ajouter{
	display: none;
}



.password_oublier{
	text-align: right;
}


/**
 * Barre verticale de la page de connexion
 */
.separation{
	clear: both;
	position: absolute;
	margin-top :10px;
	margin-left: 250px;
	height: 300px;
	width : 1px;
	background: black;
}

/**
 * Lien traduction des langues
 */
.lien_langue{
	text-decoration: underline;
	padding-right: 5px;
}

/**
 * Container des liens langues 
 */
.container_langue{
	margin-left: 1400px;
}

/**
 * 
 */
.confirmation_inscription{
	margin-left: 300px;
	border: 1px solid black;
	width: 900px;
	padding: 10px;
}


/**
 * 
 */
.p_equipe_administrative{
	padding-left: 750px;
}

.container_espace_membre{
	margin-left: 1200px;
}

h1{
	font-size: 24px;
	font-weight: bold;
}

a{
	text-decoration: underline;
}

.image_a_la_une{
	margin: 100 auto;
	width: 1000px;
}

.resultat {
  position: absolute;
  background: white;
  border-radius: 	0px 0px 10px 10px;
  width: 258px;
  height: auto;
  /*padding: 10px 10px;*/
}

/**
 * Gestion des pages 403 et 404
 */
.error_access{
	border:1px solid #34495E;
}

.error404{
	color:#34495E;
}

.div_admin_404{
	height:300px;
}

/**
 * PARTIE ADMINISTRATION
 */

.accueil_admin{
	background-color: #AEB6BF; 
	border-radius: 15px; 
	height:300px;
}

.titre_accueil_admin{
	font-size: 26px; 
	color: white;
}

.button_update_delete{
	background-color:#AEB6BF;
	border:1px solid #AEB6BF;
}

.button_remove{
	color: red;
}

.glyphicon_maj{
	color: blue;
}

.message_ok{
	text-align:left;
	color:green;
	border:1px solid green
}

.message_ko{
	text-align:left;
	color:red;
	border:1px solid red;
}

